*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1 {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 100px;
  font-family: Ubuntu, sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #66fcf1;
}
h3 {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 50px;
  font-family: Ubuntu, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #66fcf1;
}

body {
  background-color: #1f2833;
  color: #fff;
  font-weight: 400;
  font-family: "Raleway", Arial, sans-serif;
}

a {
  outline: none;
  color: #66fcf1;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #66fcf1;
}

.content {
  margin: 0 100px;
}

.content > h2 {
  clear: both;
  margin: 0;
  padding: 4em 1% 0;
  color: #1f2833;
  font-weight: 800;
  font-size: 1.5em;
}

.content > h2:first-child {
  padding-top: 1em;
}
.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-self: center;
  clear: none;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

/* Common style */

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 50px 50px;
  min-width: 120px;
  max-width: 360px;
  max-height: 440px;
  height: auto;
  background: #66fcf1;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */

.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: 2px;
  font-size: 18px;
  font-weight: 500;
}

.grid figure h2 span {
  font-size: 16px;
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}
figure.effect-terry {
  background: #1f2833;
}

figure.effect-terry figcaption {
  padding: 1em;
}

figure.effect-terry figcaption::before,
figure.effect-terry figcaption::after {
  position: absolute;
  width: 200%;
  height: 200%;
  border-style: solid;
  border-color: rgba(16, 16, 16, 0.6);
  content: "";
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-terry figcaption::before {
  right: 0;
  bottom: 0;
  border-width: 0 70px 60px 0;
  -webkit-transform: translate3d(70px, 60px, 0);
  transform: translate3d(70px, 60px, 0);
}

figure.effect-terry figcaption::after {
  top: 0;
  left: 0;
  border-width: 10px 0 0 10px;
  -webkit-transform: translate3d(-15px, -15px, 0);
  transform: translate3d(-15px, -15px, 0);
}
  figure.effect-terry figcaption::before {
    right: 0;
    bottom: 0;
    border-width: 0 70px 60px 0;
    -webkit-transform: translate3d(70px, 60px, 0);
    transform: translate3d(70px, 60px, 0);
  }

figure.effect-terry img,
figure.effect-terry p a {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-terry img {
  opacity: 0.85;
}

figure.effect-terry h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.4em 10px;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(30%, 0, 0);
  transform: translate3d(30%, 0, 0);
}

figure.effect-terry p {
  float: right;
  clear: both;
  text-align: left;
  text-transform: none;
  font-size: 111%;
}

figure.effect-terry p a {
  display: block;
  margin-bottom: 1em;
  color: #fff;
  opacity: 0;
  -webkit-transform: translate3d(90px, 0, 0);
  transform: translate3d(90px, 0, 0);
}

figure.effect-terry p a:hover,
figure.effect-terry p a:focus {
  color: #66fcf1;
}

figure.effect-terry:hover figcaption::before,
figure.effect-terry:hover figcaption::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect-terry:hover img {
  opacity: 0.6;
}

figure.effect-terry:hover h2,
figure.effect-terry:hover p a {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect-terry:hover p a {
  opacity: 1;
}

figure.effect-terry:hover p a:first-child {
  -webkit-transition-delay: 0.025s;
  transition-delay: 0.025s;
}

figure.effect-terry:hover p a:nth-child(2) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.effect-terry:hover p a:nth-child(3) {
  -webkit-transition-delay: 0.075s;
  transition-delay: 0.075s;
}

figure.effect-terry:hover p a:nth-child(4) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
@media screen and (max-width: 50em) {
  .content {
    padding: 0 10px;
    text-align: center;
  }
  .grid figure {
    display: inline-block;
    float: none;
    margin: 10px auto;
    width: 100%;
  }
}
@media screen and (max-width: 1250px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  figure.effect-terry {
    margin-bottom: 50px !important;
  }
  figure.effect-terry h2 {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
}
@media screen and (max-width: 400px) {
  figure.effect-terry h2 {
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
  }
}
@media screen and (max-width: 500px) {
  figure.effect-terry h2 {
    -webkit-transform: translate3d(40%, 0, 0);
    transform: translate3d(40%, 0, 0);
  }
  figure.effect-terry h2 {
    font-size: 10px;
  }
  figure.effect-terry h2 span {
    font-size: 8px;
  }
  figure.effect-terry p i {
    font-size: 16px;
    margin-left: 50%;
  }
  p {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
  }
}

