@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "AstroSpace";
  src: url("../fonts/AstroSpace.ttf");
}
@import url(https://fonts.googleapis.com/css?family=Lato&subset=latin-ext);

.owasp_about {
  font-family: "Poppins", sans-serif !important;
  color: white;
  padding: 80px 40px 90px 40px;
}
.aboutimg {
  margin: 50px 5px 5px 5px;
  height: 100%;
  width: 80%;
}
.aboutheading {
  /* margin-top: -2.8%; */
  color: #e4a961;
  letter-spacing: 6px;
}

.hackoheading {
  font-family: "Lato", sans-serif;
  display: block;
  color: #000000;
  font-size: 60px;
  margin-top: 3vh;
  font-weight: 600;
  z-index: 20 !important;
}

.aboutpara {
  color: white;
  font-family: "poppins-med";
  background-color: #24282f;
  width: 80%;
  margin: auto;
  height: 100%;
  border-radius: 30px;
  padding: 2.5rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.abouttext {
  margin-top: 30px;
}

/******* MEDIA QUERIES *********/
@media All and (max-width: 1025px) {
  .aboutpara {
    padding: 2.5rem 2rem;
  }
}
@media All and (max-width: 990px) {
  .aboutbutton {
    top: -2.5%;
    left: 1%;
    margin-top: 2%;
  }
  .mobile-wrapper {
    width: 70%;
  }
}

@media all and (max-width: 770px) {
  .aboutheading {
    padding-top: 30px;
  }
}
@media (max-width: 760px) {
  .aboutpara {
    padding: 2.5rem 2rem;
  }
}
@media all and (min-width: 577px) {
  .right {
    padding-left: 20px !important;
  }
}

@media all and (max-width: 576px) {
  .right {
    padding-left: 12px;
    padding-top: 20px;
  }

  .hackoheading {
    font-size: 30px;
    text-align: center;
    margin-left: -27%;
    margin-top: -10%;
  }
  iframe {
    height: 200px;
  }
}

@media All and (max-width: 400px) {
  .aboutheading {
    margin-left: 25%;
  }
  .aboutpara {
    text-align: center;
  }
}

@media All and (max-width: 415px) {
  .aboutheading {
    margin-left: 25%;
  }
  .aboutpara {
    text-align: center;
  }
}
