@font-face {
  font-family: poppins-med;
  src: url(../fonts/Poppins-Medium.ttf);
}

.abthck{
    color: black!important;
    font-family: 'poppins-med';
  }
  #abthack{
      padding: 2rem;
  }
  #abthack .row{
    background-color: white;
    padding: 1rem;
    margin: 0;
    font-family: 'poppins-med';
  }
  #abthack .row .col-sm iframe{
      margin-left: 5rem;
       
  }
  #abthack .row .col p{
    margin-right: 5rem;
     
}

