@font-face {
  font-family: "The Bold Font";
  src: url("../fonts/The\ Bold\ Font\ 700.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

#benefits {
  height: auto;
  padding-bottom: 100px;
  background: #ffffff;
}

#heading {
  height: 9em;
  font-family: "The Bold Font";
  padding: 0;
  margin: 0;
  background: #ffffff;
}

svg.intro {
  /* background: linear-gradient(135deg, #aa3bb1, #582a7e); */
  max-width: 800px;
  position: relative;
  top: 56%;
  left: 52%;
  transform: translate(-50%, -50%);
}
svg.intro .text {
  display: none;
}
svg.intro.go .text {
  font-family: "The Bold Font";
  font-size: 15px;
  text-transform: uppercase;
  display: block;
}
svg.intro.go .text-stroke {
  fill: none;
  stroke: rgb(255, 102, 0);
  stroke-width: 1.2px;
  stroke-dashoffset: -900;
  stroke-dasharray: 900;
  stroke-linecap: butt;
  stroke-linejoin: round;
  -webkit-animation: dash 2s ease-in-out forwards;
  animation: dash 2.5s ease-in-out forwards;
}
svg.intro.go .text-stroke:nth-child(2) {
  stroke: rgb(255, 145, 0);
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
svg.intro.go .text-stroke:nth-child(3) {
  stroke: rgb(255, 111, 0);
  stroke-width: 0.8px;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
svg.intro.go .text-stroke-2 {
  stroke: #ff8a00;
  stroke-width: 5;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

@-webkit-keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

#content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
#card {
  height: auto;
  /* border: 1px solid black; */
  text-align: center;
  margin: 1vh 0.1vw;
  flex-basis: 33%;
  align-content: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
#card2 {
  height: auto;
  /* border: 1px solid black; */
  text-align: center;
  margin: 1vh 0.1vw;
  flex-basis: 33%;
  align-content: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
#card .image {
  margin: 0 0;
}
#card .image img {
  height: 20em;
  margin: auto;
}
#card2 .image img {
  height: 18em;
}
#card .con {
  font-family: "poppins-med", sans-serif;
  margin: 0 6em;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}
#card2 .con {
  font-family: "poppins-med", sans-serif;
  margin: 0 6em;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 850px) {
  #benefits {
    height: auto;
  }
  #content {
    flex-direction: column;
  }
  #card {
    flex-basis: 100%;
  }
}
