.abthck{
    background-color: black!important;
    color: white;
    height: auto;
    padding: 5%;
  }
  #abthack{
      /* padding: 2rem; */
          background-color: black!important;
  }
  #abthack .row{
    background-color: white;
    padding: 1rem;
    margin: 0;
  }
  #abthack .row .col-sm iframe{
      margin-left: 5rem;
       
  }
  #abthack .row .col p{
    margin-right: 5rem;
     
}